<body>
    <div id="header">
      <h1>Gestion De Reportes</h1>
    </div>
    <div id="content">
        <h2>Descripcion del incidente</h2>
        <br>
        <textarea name="comentarios" rows="1" cols="45">Nombre de usuario</textarea>
        <br>
        <textarea name="comentarios" rows="10" cols="45">Describa el incidente de manera clara</textarea>
        <br>
        </div>
    <br>
    <textarea name="impacto" rows="1" cols="45">Valor de 1 5 segun la gravedad del incidente</textarea>
    <br>
    <textarea name="fechadeinicio" rows="1" cols="45">Fecha De inicio</textarea>
   <br>
   <FORM>

        <input name="button1" type="button" 
        onclick='alert("Incidente Guardado")' value="Guardar incidente" />
        </FORM>
</body>

