<form #incidentsForm="ngForm" (ngSubmit)="incidentsForm.valid && onSubmit(incidentsForm)">
  <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.idIncidente" name="idIncidente" placeholder="id Incidente" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && idIncidente.valid == undefined }">
  <div *ngIf="incidentsForm.submitted && !idIncidente.valid">
      <label class="validation-message">Campo Requerido.</label>
  </div>
  <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.nivelImpacto" name="nivelImpacto" placeholder="Nivel de impacto" required [ngClass]="{'invalid
  -textbox' :incidentsForm.submitted && !nivelImpacto.valid }">
  <div *ngIf="incidentsForm.submitted && !nivelImpacto.valid">
      <label class="validation-message">Campo Requerido.</label>
  </div>
  <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.idEmpleado" name="idEmpleado" placeholder="idEmpleado" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && !idEmpleado.valid }">
  <div *ngIf="incidentsForm.submitted && !idEmpleado.valid">
      <label class="validation-message">Campo Requerido.</label>
  </div>

  <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.idInvestigador" name="idInvestigador" placeholder="idInvestigador" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && !idInvestigador.valid }">
  <div *ngIf="incidentsForm.submitted && !idInvestigador.valid">
      <label class="validation-message">Campo Requerido.</label>
  </div>
  <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.descripcion" name="descripcion" placeholder="descripcion" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && !descripcion.valid }">
  <div *ngIf="incidentsForm.submitted && !descripcion.valid">
      <label class="validation-message">Campo Requerido.</label>
  </div>
 <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.fechaInicio" name="fechaInicio" placeholder="fechaInicio" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && !fechaInicio.valid }">
      <div *ngIf="incidentsForm.submitted && !fechaInicio.valid">
          <label class="validation-message">Campo Requerido.</label>
      </div>
      <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.fechaFinal" name="fechaFinal" placeholder="fechaFinal" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && !fechaFinal.valid }">
      <div *ngIf="incidentsForm.submitted && !fechaFinal.valid">
          <label class="validation-message">Campo Requerido.</label>
      </div>
      <input type="text" #name="ngModel" [(ngModel)]="incidentsService.selectedIncident.estado" name="estado" placeholder="estado" required [ngClass]="{'invalid-textbox' :incidentsForm.submitted && !estado.valid }">
      <div *ngIf="incidentsForm.submitted && !estado.valid">
          <label class="validation-message">Campo Requerido.</label>
      </div>
      <input type="submit" value="Enviar Incidente">
    <br>
    <button mat-fab color="primary" [routerLink]="['/administrador']">Volver</button>
</form>


<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>

