<body>
        <div id="header">
          <h1>Gestion De Reportes</h1>
        </div>
        <div id="content">
            <h2>Descripcion del incidente</h2>
            <br>
            <textarea name="comentarios" rows="1" cols="45">Nombre del responsable</textarea>
            <br>
            <textarea name="comentarios" rows="10" cols="45">Descripcion del avance</textarea>
            <br>
            </div>
        
       <FORM>
    
            <input name="button1" type="button" 
            onclick='alert("Avance guardado")' value="Guardar Avance" />
            </FORM>
    </body>
