<body>
        <div id="header">
          <h1>Administrador</h1>
        </div>
        <div id="content">
          <h2>Perfil de Usuario</h2>
          <p>Bienvenido, "Nombre"</p>
          <img mat-list-avatar src="https://data.whicdn.com/images/332220993/original.jpg" width="180" height="180">
          <br>
          <button mat-fab color="primary" [routerLink]="['/adminusuario']">Administrar Perfil</button>
        </div>
    
        <h2>Administrar perfiles</h2>
    
        <button mat-fab color="primary" [routerLink]="['/listaperfiles']">Lista de perfiles</button>
        <br>
        <h2>Gestion de reportes</h2>
        <button mat-fab color="primary" [routerLink]="['/generarreporte']">Generar Nuevo Reporte</button>
      </body>
