      <table *ngIf="userDetails" class="table-fill">
        <thead>
            <tr>
                <th colspan="2" class="text-center">Bienvenido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nombre</td>
                <td>{{userDetails.nombre}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{userDetails.email}}</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center">
                    <input type="button" (click)="goEdit()" value="Administrar Perfil" />
                    <input type="button" (click)="goReporte()" value="Generar Nuevo Reporte" />
                    <input type="button" (click)="regist()" value="Registrar" />
                    <input type="submit" [routerLink]="['/listaincidente']" value="Lista de Incidentes">
        <br>
        <input type="submit" [routerLink]="['/notificacion']" value="Enviar notificacion">
                    
              </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <input type="button" (click)="onLogout()" value="Salir" />
                </td>
      
            </tr>
        </tbody>
      </table>
