<body>
    <div id="header">
      <h1>Web Reporting System Manager S.A</h1>
    </div>
    <div id="content">
      <h2>Perfil de Usuario</h2>
      <p>Bienvenido, "Nombre"</p>
      <img mat-list-avatar src="https://data.whicdn.com/images/332220993/original.jpg" width="180" height="180">
      <br>
      <button mat-fab color="primary" [routerLink]="['/adminusuario']">Administrar Perfil</button>
    </div>

    <h2>Gestion de Incidentes</h2>
    <br>

    <button mat-fab color="primary" [routerLink]="['/generarreporte']">Generar Nuevo Reporte</button>
    <br>

    <h2>Prueba: Lista de cargos</h2>
    <br>
    <button mat-fab color="primary" [routerLink]="['/administrador']">Administrador</button>
    <br>
    <button mat-fab color="primary" [routerLink]="['/responsable']">Responsable</button>
    <br>
    <button mat-fab color="primary" [routerLink]="['/investigador']">investigador</button>
    

    </body>
